{% extends 'base.html'%}

{%block title %}
<title> Описание магазина </title>
{%endblock%}

{%block body %}
<div class="container">
    <h1>Описание</h1>
    <p>Просто какой-то текст типо описания потом изменим Wildberries (Уа́йлдберрис, Ва́йлдберрис; букв. «Дикие ягоды») — российский маркетплейс[5][6][7]. Основан в 2004 году Владиславом и Татьяной Бакальчук[8][9].

Работает в России, Белоруссии, Казахстане, Кыргызстане, Армении, Израиле[10], Молдавии, Турции[11], Узбекистане[12] и Азербайджане[13]. Крупнейший по обороту интернет-магазин России в 2016—2020 годах[14][15][16].</p>
</div>
{%endblock%}
