{% extends "base2.html" %}

{% block content %}

<h1>Добавить товар</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control") }}<br>
        {% for error in form.name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>


    <p>
        {{ form.name1.label }}<br>
        {{ form.name1(class="form-control") }}<br>
        {% for error in form.name1.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>

    <p>
        {{ form.name2.label }}<br>
        {{ form.name2(class="form-control") }}<br>
        {% for error in form.name2.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>


    <p>
        {{ form.name3.label }}<br>
        {{ form.name3(class="form-control") }}<br>
        {% for error in form.name3.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.prise.label }}<br>
        {{ form.prise(class="form-control") }}<br>
        {% for error in form.prise.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>




    <p>{{ form.submit(type="submit", class="btn btn-dark rounded-pill px-3")  }}</p>
    {{message}}






</form>
{% endblock %}
