{% extends "base2.html" %}

{% block content %}


<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal text-body-emphasis">Популярные товары</h1>
      <p class="fs-5 text-body-secondary"></p>
    </div>

  <main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Комплект носков</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">250 рублей<small class="text-body-secondary fw-light"></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Европейское качество</li>
              <li>5 штук в комплекте</li>
              <li>Красивый дизайн</li>
              <li>Цвет - белый</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Добавить в корзину</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Флаг Российской Империи</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">650 рублей<small class="text-body-secondary fw-light"></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Отечественный производитель</li>
              <li>Высокое качество</li>
              <li>Быстрая доставка</li>
              <li>Размеры 90x135см</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Добавить в корзину</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Кроссовки Puma 180</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">3500 рублей<small class="text-body-secondary fw-light"></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Гарантия на возврат</li>
              <li>Натуральная ткань</li>
              <li>Черный цвет</li>
              <li>Все размеры</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Добавить в корзину</button>
          </div>
        </div>
      </div>
    </div>



    <div class="table-responsive">
      <table class="table text-center">



      </table>
    </div>
  </main>


{% endblock %}

